* {
    margin: 0;
    padding: 0;
}

section{
	padding-top: 20px;
}

body {
    width: 900px;
	margin-left: auto;
    margin-right: auto;
}

h1{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #0099cc;
}

table{
	width: 100%;
	border: 3px double gray;
}

td, th, tr{
	border: 3px double gray;
}

.header {
    width: 100%;
    box-sizing: border-box;
	text-align: center;
}

.menu{
	text-align: center;
	padding: 10px 10px;
    background: #abcdef;
    height: 80px;
}

.menu__ul{
	list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
	justify-content: space-evenly;
}

.menu__li {
    margin: 0 10px;
}

.menu__li:hover {
    border: 3px solid #423189;
}

.menu__link {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__link img{
	width: 80px;
}

.main{
	padding: 20px 0;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background: #f5f5f5;
}

.main__title{
	padding: 10px 0;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.main__content{
	font-size: 16px;
	text-align: left;
}

.contact__container{
	width: 80%;
	margin:auto;
	padding: auto;
	padding: 20px 0;
    display: flex;
	flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

.contact__img{
	margin: 0 50px;
}

.contact__content{
	color: gray;
	font-size:18px;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
}

.contact__content ul{
	list-style: none;
    display: flex;
	align-items: flex-start;
    flex-direction: column;
}

.contact__title{
	font-weight: bold;
	color: black;
}

.contact__note{
	margin: 10px 50px;
}

.skill{
	display:flex;
	justify-content: space-around;
}

.skill__block{
	width:48%;
	display:flex;
	flex-direction: column;
    align-items: center;
}

.skill__main__ul{
	list-style: none;
    display: flex;
    flex-direction: row;
	justify-content: space-around;
}

.skill__ul{
	list-style: none;
    display: flex;
    flex-direction: column;
}

.skill__ul > li{
	margin: 10px 20px;
}

.skill__title{
	font-size: 20px;
	font-weight: bold;
}

.project{
	text-align: left;
	display: flex;
	flex-direction: column;
}

.project__note{
	margin: 10px 0;
}

.project__link{
	padding: 10px 0;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
}

.project__link:hover{
	color: green;
}

code, pre{
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 14px;
	text-align: left;
	padding-left: 20px;
}

.education{
	width: 80%;
	margin: auto;
	padding: auto;
}

.basic__education{
	list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.education caption {
	font-size: 24px;
	font-weight: bold;
	padding: 10px 0;
}

.education ul{
	list-style: none;
    display: flex;
	flex-direction: column;
}

.education a{
	font-size: 16px;
	text-decoration: none;
	color: black;
}

.education a:hover{
	font-weight: bold;
	color: green;
}

.education td, .education th{
	padding: 10px 0;
}

.education th{
	font-size: 20px;
}

.education li{
	padding: 3px 0;
}

.footer {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    text-align: center;
	display: flex;
	justify-content: space-around;
	background: #abcdef;
}

.footer img {
	width: 80px;
}

